.header-eighth-section {
display: flex;
    justify-content: space-between;
}

.header-eighth-section_text {
margin-left: 30px;
}

.header-eighth-section_text>p {
margin: 0;
    font-family: 'Neucha';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    color: #908d8b;
}

.header-eighth-section h2 {
margin: 0;
    font-weight: 400;
    font-size: 60px;
    line-height: 72px;
    color: #2A2626;
}

.header-eighth-section_text h3 {
font-family: 'Neucha';
    font-style: normal;
    font-weight: 400;
    font-size: 34px;
    line-height: 111%;
    color: #2A2626;
}

.img_container-eighth_section {
    background-color: #fff;
    width: 578px;
    height: 434px;
    }

.eighth-section-image {
    /* float: left; */
    /* margin-right: 10px; */
    display: block;
    filter: drop-shadow(0 16px 32px rgba(0, 0, 0, 0.15));
}

.eighth-section-above_aticle {
    background-color: #b09a81;
    position: relative;
    margin-top: 100px;
    padding: 1px 0 1px 9px;
}

.eighth-section-above_aticle>p {
    font-size: 14px;
    font-weight: 700;
    line-height: 0px;
    /* text-transform: uppercase; */
    color: #FFFFFF;
    margin: 12px 0 12px 0px ;
}

.eighth-section-above_aticle+article>p {
font-weight: 400;
font-size: 16px;
line-height: 1.53em;
color: #2A2626;
margin-top: 0;
}

.eighth-section-above_aticle+article {
    margin-top: 22px;
}