.block-two {
    background-color: var(--white-color);
    margin-top: 98px;
  }

  .block-two p {
    text-align: center;
    margin-top: 28px;
    margin-bottom: 0;
  }

  .iframe-container-container {
    width: 919px; 
    height: 489px;
  }

  .block-two .iframe-container {
    filter: drop-shadow(0 16px 32px rgba(0, 0, 0, 0.15));

    position: absolute;
    overflow: hidden;
    width: 919px; 
    height: 569px;
    top: 227px;
    left: 216px;

    /* display: inline-block;
    vertical-align: top;
    transform: translate(49%, 32px);
    margin-left: -190px;
    position: relative;
    z-index: 100; */
  }

  .video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;


  }

  .block-two h2 {
    text-align: center;
    margin-block-start: 0;
    margin-block-end: 0;
    font-weight: 500;
  }