.footer-feedback * {
    box-sizing: border-box;
}

.footer-feedback {
    display: flex;
    justify-content: space-around;

    background-color:#42413c;
    width: 1110px;
    height: 190px;

    margin-bottom: 76px;
}

.footer-feedback h3 {
    margin-top: 56px;
    margin-right: 60px;
    /* margin: 56px auto 0 auto; */
    margin-left: 13px;
    letter-spacing: 0.1px;

}

.footer-feedback_feedback {
    margin-right: 75px;
    /* margin: 0 auto; */
}

.footer-feedback_feedback p:nth-child(1) {
    margin-top: 41px;
    margin-bottom: 8px;
}

.footer-feedback_feedback p:nth-child(3) {
    margin-top: 0;
}

.footer-feedback h3, .footer-feedback p {
    color: #fff;
    font-weight: 400;
}

.footer-feedback_feedback p:nth-child(1) {
    font-size: 18px;
}

.footer-feedback_feedback p:nth-child(3) {
    font-size: 12px;
}

.footer-feedback>.footer-feedback_feedback>p>a {
    color: #fff;
}

.footer-feedback form {
    position: relative;
    /* margin: 1em; */
}
  
.footer-feedback input {
    display: block;
    width: 423px;
    height: 52px;
    
    /* border: 1px solid; */
    padding: 0 12px;
}

.footer-feedback input::placeholder {
    opacity: 0.2;
    letter-spacing: 0.3px;
    color: #757575;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 13.1px;
    line-height: 160%;
}
  
.footer-feedback button {
    position: absolute;
    top: 0;
    bottom: 0;
    right: -70px;

    width: 70px;
    
    background-color: #FE8A02;
    
    border: 1px solid;
    
}

.footer-feedback button::before {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;

    /* height: 50px;
    width: 70px; */
    
    background-image: url(../images/send.svg);
    background-repeat: no-repeat;
    /* background-size: contain; */

    content: '';
}

footer .into-section>p {
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    margin-bottom: 10px;
    margin-top: 12px;
}

footer .into-section p:nth-child(3) {
    letter-spacing: 0.2px;
}

footer .into-section p:nth-child(3) a {
    color:#1085C5;
}

footer .into-section p:nth-child(4) a {
    color:#1085C5;
    text-decoration: none;
}

footer .into-section>a {
    text-align: center;
}