.header-image {
    height: 525px;
    top: 55px;
    right: -270px;

    z-index: 0;

    /* overflow: hidden; */
}

header h1 {
    position: relative;
    z-index: 10;
}

header article {
    margin-top: 200px;
}

.column-2 {
    column-count: 2;
    column-gap: 30px;
}

.column-2else {
    column-count: 2;
    column-gap: 20px;
}

.column-2 p {
    margin-top: 0;
}

.break-after {
    break-after: column;
}

.button {
    color: var(--white-color);
    border: none;
    background-color: var(--basic-color);
    padding: 12px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-weight: 700;
    margin: 4px 2px;
    cursor: pointer;
}

.button:hover {
    background-color: #EA7600;

}