.back-white {
    display: block;
    text-decoration: none;
}

.back-white p {
    color: #2A2626;
}

.back-white:hover {
    background-color: var(--basic-color);
}

.back-white:hover h2,
.back-white:hover h3,
.back-white:hover p {
    color: #ffffff;
}

.gray {
    padding-top: 95px;
}

.block-three {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.gray .block-three {
    padding-top: 105px;
}

.block-three span {
    font-size: 52px;
}

.block-three-section-top {
    max-width: 350px;
    max-height: 323px;
    margin-bottom: 19px;
}

.block-three-section-bottom {
    max-width: 350px;
    height: 348px;
}

.block-three h2,
.block-three h3,
.block-three p {
    margin-left: 24px;
    font-weight: 400;
}

.block-three h2 {
    margin-top: 18px;
    font-size: 64px;
    margin-bottom: 28px;
    color: var(--basic-dark-color);
}

.block-three h3 {
    color: var(--basic-color);
    font-size: 34px;
    /* font-style: normal; */
    margin-bottom: 15px;
}

.block-three p {
    font-size: 16px;
    margin-top: 11px;
    line-height: 24px;
    letter-spacing: 0.33px;
}

.block-three div:nth-child(1) h3 {
    margin-top: 0px;
    margin-left: 0px;
    line-height: 58px;
}